<div class="content col-md-6">
  <% unless current_user.discover.empty? %>
    <h2 class="category-title"> Discover </h2>
    <% if current_user.nil? %>
      <ul class="posts">
        <%= render @posts %>
      </ul>
    <% else %>
      <ul class="posts">
        <%= render current_user.discover %>
      </ul>
    <% end %>
  <% end %>

  <h2 class="category-title"> Feed </h2>
  <% unless current_user.feed.empty? %>
    <ul class="posts">
      <%= render current_user.feed %>
    </ul>
  <% else %>
    Follow more people you find interesting so they appear in your feed.
  <% end %>
</div>
