<div class="container new-article-page">
    <%= form_for @post, html: {class: "new-article", id: "new-article"} do |f| %>
    <% if flash[:danger] %>
    <div class="danger"> <%= flash[:danger] %> </div>
    <% end %>
    <%= f.text_field :title, placeholder: 'Article title', class: 'form-control new-article__title new-article__input' %>
    <%= f.text_area :content, placeholder: "What's on your mind?", class: 'form-control new-article__body new-article__input' %>
    <% end %>
</div>
