// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-title {
  font-size: 40px;
}

html, body {
  height: 100%;
}

main {
  height: 100%;
}


.posts {
  margin-left: 20px;
  .post {
    &:first-child {
      margin-top: 10px;
    }
    margin-bottom: 30px;
    
    .title {
      font-size: 20px;
      color: black;
      text-decoration: none;
      font-weight: bold;
    }
    
    .author {
      margin-top: 10px;
      a {
        color: grey;
        text-decoration: none;
      }
    }
  }
}


.new-article {
  width: 100%;
  height: 100%;
  &__input {
    margin-top: 10px;
    border: 0;
    width: 100%;
    &:focus {
      outline: 0;
    }
  }

  &__title {
    
  }

  &__body {
    height: 80%;
  }

  &__interaction {
    float: right; 
  }
}

.new-article-page {
  height: 100%;
}