// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .content {
//   ul {
//     list-style-type: none;
//     li {
//       .post {
//         margin-top: 20px;
//         margin-left: 20px;
//       }
//     }
//   }
// }


.post {
  &:first-child {
    margin-top: 10px;
  }
  margin-bottom: 30px;

  .title {
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: bold;
  }

  .author {
    margin-top: 10px;
    a {
      color: grey;
      text-decoration: none;
    }
  }
}
