// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul { 
  padding: 20px;

}

li {
  padding: 20px;
  list-style-type: none;
}

.byline {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  color: #9799a7;
}

.content {
  background:light-blue;
  display:block;
}